.repocard {
  padding: 10px;
  border: 3px solid lightblue;
  margin: 5px 0px;
  width: 877px;
  height: 112px;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  border-radius: 10px;
  .repocard__namelink {
    font-family: Inter;
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 29px;
    margin-left: 35px;
    margin-bottom: 15px;
    a {
      color: #0064EB !important;
      text-decoration: none;
      font-family : Inter;
      font-style: normal;
      font-weight: 500;
      font-size: 24px;
        line-height: 29px;
      
    }
    
    
  }
  .repocard__decription {
    margin-left: 35px;
    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;
  }
}
