.usercontainer {
  max-width: 1280px;
  margin: auto;
  width: 100%;
  display: flex;
  justify-content: space-between;
  // /-------------/ REPOINFO
  .repoinfo {
    .repoinfo__count {
      display: flex;
      justify-content: flex-start;
      font-weight: 600;
      font-size: 32px;
      line-height: 130%;
      padding: 15px 0px;
    }
  }

  // /-------------/ USERINFO
  .userinfo {
    .userinfo-follows {
      display: flex;
      align-items: center;
      margin-right: 5px;
      .userinfo-follows__img {
      }
      .userinfo__followers {
        margin-right: 25px;
      }
    }
    .user_info__link{
      margin-top:12px;
      margin-bottom:20px;
      a{
        
        font-family: Inter;
font-style: normal;
font-weight: normal;
font-size: 18px;
line-height: 22px;
color: #0064EB !important;
      text-decoration: none;
      }
    }
    .user-info__avatar {
      margin-top: 50px;
      margin-bottom: 50px;
      .user-info__avatar-img {
        width: 280px;
        height: 280px;
        border-radius: 100%;
      }
    }
    .userinfo__nickname {
      font-family: Inter;
      font-style: normal;
      font-weight: 600;
      font-size: 26px;
      line-height: 130%;
    }
  }
}
// /-------------------/
.pages {
  margin: 20px 0;
  .page {
    border: 1px solid gray;
    border-radius: 100%;
    padding: 5px 10px;
    margin: 0 10px;
  }
  .currentPage {
    border: 2px solid black;
    border-radius: 100%;
    padding: 5px 10px;
    margin: 0 10px;
    font-weight: 700;
  }
}
